@import "font";
@import "var";

body {
  font-family: $font;
  font-weight: 400;
  color: $light;
  background-color: #1f2023;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  // чтобы header был сверху других элементов
  z-index: 999;
  height: 71px;
  // закрепляем заголовок (чтобы даже во время прокрутки сайта он оставался на месте)
  position: fixed;
  width: 100%;
  // если не добавим top: 0;, то наш заголовок сдвинется на margin-top: 135px; вместе с banner
  top: 0;
  // добавляем перекладину формы по центру
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 27px;
    background-color: $accent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__logo {
    background-color: $accent;
    padding: 17px 45px 0 45px;
    // закругляем левый верхний угол
    border-radius: 10px 0 0 0;
    position: relative;
    // добавляем левый нижний угол
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 24px;
      background-image: url(../images/header-bottom-left.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      bottom: -24px;
    }
    // добавляем слева изображение мягкого угла для перехода в центральную часть
    &::after {
      content: "";
      display: block;
      width: 69px;
      height: 71px;
      background-image: url(../images/header-left.svg);
      position: absolute;
      top: 0;
      right: -69px;
    }
  }
  &__link {
    font-size: 20px;
    background-color: $accent;
    color: $light;
    padding: 17px 45px 0 45px;
    // закругляем правый верхний угол
    border-radius: 0 10px 0 0;
    position: relative;
    // добавляем правый нижний угол
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 24px;
      background-image: url(../images/header-bottom-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: -24px;
    }
    // добавляем справа изображение мягкого угла для перехода в центральную часть
    &::after {
      content: "";
      display: block;
      width: 69px;
      height: 71px;
      background-image: url(../images/header-right.svg);
      position: absolute;
      top: 0;
      left: -69px;
    }
  }
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.banner {
  display: flex;
  background-image: url(../images/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  padding: 100px 50px;
  margin-top: 135px;
  // расположим два блока (main и info) в banner при помощи gap и flex-basis
  gap: 40px;
  &__main {
    flex-basis: 61%;
  }
  &__info {
    flex-basis: calc(39% - 50px);
  }
  &__item {
    // размещаем текст внутри
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 1px solid $light;
    border-right: none;
    border-radius: 20px 0 0 20px;
    height: 149px;
    // соединяем border с изображением справа
    position: relative;
    margin-right: 80px;
    // для плавного перехода цвета при наведении
    transition: $tr;
    // чтобы текст был сверху фона
    z-index: 1;
    // отступы между блоками
    & + & {
      margin-top: 19px;
    }
    &::before {
      content: "";
      display: block;
      height: 149px;
      background-color: $accent;
      border: 1px solid $accent;
      border-radius: 20px 0 0 20px;
      position: absolute;
      top: -1px;
      right: 0;
      // чтобы текст был сверху фона
      z-index: -1;
      // регулируем видимость элемента во время hover
      width: 100%;
      opacity: 0;
      transition: $tr;
      // делаем плавный единый переход при наведении
      transform: translateX(50%) scale(0);
    }
    &:hover {
      &::before {
        opacity: 1;
        // делаем плавный единый переход при наведении
        transform: translateX(0) scale(1);
      }
      .banner__decor {
        background-color: $accent;
        border-color: $accent;
        &::after {
          opacity: 1;
          // стилизуем эффекты при наведении курсора
          transform: translate(0, 0) scale(1);
        }
      }
    }
  }
  &__text {
    font-weight: 200;
    font-size: 24px;
    line-height: 110%;
    margin-left: 30px;
    margin-bottom: 30px;
    span {
      display: block;
      font-weight: 700;
      font-size: 32px;
      margin-top: 15px;
    }
  }
  &__decor {
    position: absolute;
    border: 1px solid $light;
    border-radius: 10px;
    top: 0;
    right: -80px;
    // задаем размеры фигуры и размещаем изображение по центру
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    // можно было бы с помощью padding задать размеры
    // но тогда важны размеры изображений - поэтому лучше задать фикс ширину/высоту
    width: 50px;
    height: 50px;
    // для плавного перехода цвета при наведении
    transition: $tr;
    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 151px;
      background-image: url(../images/banner-info-decor.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      top: -2px;
    }
    // для смены цвета этой части при наведении курсора
    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 151px;
      background-image: url(../images/banner-info-decor-hover.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      top: -2px;
      opacity: 0;
      transition: $tr;
      // стилизуем эффекты при наведении курсора
      transform: translate(-50%, 0) scale(0);
    }
  }
  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 20px;
  }
  &__btn {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: $accent;
    color: $light;
    border: 1px solid $accent;
    border-radius: 20px;
    padding: 53px;
    transition: $tr;
    cursor: pointer;
    // добавляем медиа, так как для планшетов и смартфонов эти стили не актуальны (и могут даже скорее криво работать)
    // тут мы записываем условие, что это будет работать только на тех устройствах, которые могут считывать курсор)
    @media (hover: hover) {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.banner-box {
  border: 1px $light solid;
  border-radius: 20px;
  position: relative;
  padding: 30px 332px 30px 30px;
  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
  }
  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__img {
    position: absolute;
    // модификатор для изображения
    &._electroguitar {
      top: -68px;
      right: -20px;
    }
  }
}
