@import "var";
@import "font";

body {
  font-family: $font, sans-serif;
  font-weight: 400;
  line-height: 110%;
  color: $light;
  background-color: #1f2023;
  // чтобы не было горизонтального скролла из-за строки с анимацией
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.title-h2 {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  // чтобы header был сверху других элементов
  z-index: 999;
  height: 71px;
  // закрепляем заголовок (чтобы даже во время прокрутки сайта он оставался на месте)
  position: fixed;
  width: 100%;
  // если не добавим top: 0;, то наш заголовок сдвинется на margin-top: 135px; вместе с banner
  top: 0;
  left: 0;

  @media (max-width: $r_tab) {
    height: 66px;
  }

  // добавляем перекладину формы по центру
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 27px;
    background-color: $accent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @media (max-width: $r_tab) {
      top: -2px;
    }

  }
  &__logo {
    background-color: $accent;
    padding: 17px 45px 0 45px;
    // закругляем левый верхний угол
    border-radius: 10px 0 0 0;
    position: relative;

    @media (max-width: $r_desk) {
      padding: 17px 20px 0 20px;
    }

    // добавляем левый нижний угол
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 24px;
      background-image: url(../images/header-bottom-left.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      bottom: -24px;
    }
    // добавляем слева изображение мягкого угла для перехода в центральную часть
    &::after {
      content: "";
      display: block;
      width: 69px;
      height: 71px;
      background-image: url(../images/header-left.svg);
      position: absolute;
      top: 0;
      right: -69px;

      @media (max-width: $r_tab) {
        height: 88px;
        background-repeat: no-repeat;
        background-size: contain;
        top: 0px;
        right: -67px;
      }

    }
  }
  &__info {
    padding: 20px 45px 0 45px;
    background-color: $accent;
    // закругляем правый верхний угол
    border-radius: 0 10px 0 0;
    position: relative;

    @media (max-width: $r_desk) {
      padding: 20px 20px 0 20px;
    }

    // добавляем правый нижний угол
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 24px;
      background-image: url(../images/header-bottom-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: -24px;
    }
    // добавляем справа изображение мягкого угла для перехода в центральную часть
    &::after {
      content: "";
      display: block;
      width: 69px;
      height: 71px;
      background-image: url(../images/header-right.svg);
      position: absolute;
      top: 0;
      left: -69px;

      @media (max-width: $r_tab) {
        height: 68px;
        // поправляем внутренние углы при уменьшении высоты блока
        background-size: auto;
        background-repeat: no-repeat;
        left: -67px;
        top: -2px;
      }

    }
  }
  &__link {
    font-size: 20px;
    color: $light;
    padding-bottom: 5px;
    transition: $tr;
    // нижнее подчеркивание
    border-bottom: 1px solid $light;
    
    @media (hover: hover) {
      &:hover {
        border-bottom: 1px solid $accent;
      }
    }
    @media (max-width: $r_tab) {
      font-size: 16px;
    }

  }
}

.logo {
  // указываем размер лого в header
  &._max {
    svg {
      width: 400px;
      height: 31px;
      
      @media (max-width: $r_desk) {
        // смотрим, в какой момент переход становится плавным - так и получается 39vw
        width: clamp(300px, 39vw, 400px);
      }

    }
  }
  // указываем размер лого в footer
  &._min {
    svg {
      width: 296px;
      height: 22px;
    }
  }
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px;

  @media (max-width: $r_desk) {
    padding-left: 20px;
    padding-right: 20px;
  }

}

.banner {
  display: flex;
  background-image: url(../images/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  padding: 100px 50px;
  margin-top: 135px;

  @media (max-width: $r_desk_full) {
    flex-direction: column;
    padding: 80px 40px;
  }

  @media (max-width: ($r_desk - 24px)) {
    padding: 50px 30px;
  }

  // расположим два блока (main и info) в banner при помощи gap и flex-basis
  gap: 40px;
  &__main {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__info {
    flex-basis: calc(40% - 50px);

    @media (max-width: $r_desk_full) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

  }
  &__item {
    // размещаем текст внутри
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;
    border: 1.5px solid $light;
    border-right: none;
    border-radius: 20px 0 0 20px;
    height: 151px;
    // соединяем border с изображением справа
    position: relative;
    padding: 30px;
    margin-right: 80px;
    // для плавного перехода цвета при наведении
    transition: $tr;
    // чтобы текст был сверху фона
    z-index: 1;

    &::before {
      content: "";
      display: block;
      height: 149px;
      background-color: $accent;
      border: 1.5px solid $accent;
      border-radius: 20px 0 0 20px;
      position: absolute;
      top: -1px;
      right: 0;
      // чтобы текст был сверху фона
      z-index: -1;
      // регулируем видимость элемента во время hover
      width: 100%;
      opacity: 0;
      transition: $tr;
      // делаем плавный единый переход при наведении
      transform: scale(0);
      transform-origin: top right;
    }

    @media (hover: hover) {
      &:hover {
        &::before {
          width: 100%;
          opacity: 1;
          // делаем плавный единый переход при наведении
          transform: scale(1);
        }
        .banner__decor {
          background-color: $accent;
          border-color: $accent;
          &::after {
            opacity: 1;
            // стилизуем эффекты при наведении курсора
            transform: scale(1);
          }
        }
      }
    }
    @media (max-width: $r_desk_full) {
      padding: 30px 0 30px 30px;
    }
    @media (max-width: ($r_desk - 24px)) {
      justify-content: center;
      height: inherit;
      margin-right: 0;
      border-radius: 20px;
      border-right: 1.5px solid $light;
      padding: 25px 10px 25px 100px;
    }

    // отступы между блоками
    & + & {
      margin-top: 19px;
    
      // сбрасываем отступы, чтобы при применении grid все было ровно
      @media (max-width: $r_desk_full) {
        margin-top: 0;
      }
    
    }
  }
  &__text {
    font-weight: 200;
    font-size: 24px;
    line-height: 110%;
    margin: 0;

    @media (max-width: ($r_desk - 24px)) {
      font-size: 18px;
    }

    span {
      display: block;
      font-weight: 700;
      font-size: 32px;
      line-height: 110%;
      margin-top: 15px;
      // margin-top: 20px;

      @media (max-width: ($r_desk - 24px)) {
        font-size: 20px;
        margin-top: 12px;
      }

    }
  }
  &__decor {
    position: absolute;
    border: 1.5px solid $light;
    border-radius: 10px;
    top: 0;
    right: -80px;
    // задаем размеры фигуры и размещаем изображение по центру
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    // можно было бы с помощью padding задать размеры
    // но тогда важны размеры изображений - поэтому лучше задать фикс ширину/высоту
    width: 50px;
    height: 50px;
    // для плавного перехода цвета при наведении
    transition: $tr;
    // правая часть фигуры
    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 151px;
      background-image: url(../images/banner-info-decor.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      top: -2px;
      @media (max-width: ($r_desk - 24px)) {
        display: none;
      }
    }
    // для смены цвета этой части при наведении курсора
    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 151px;
      background-image: url(../images/banner-info-decor-hover.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      top: -2px;
      opacity: 0;
      transition: $tr;
      // стилизуем эффекты при наведении курсора
      transform: scale(0);
      transform-origin: top left;
    }

    @media (max-width: ($r_desk - 24px)) {
      top: calc(50% - 25px);
      right: inherit;
      left: 30px;
    }

  }
  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    margin-top: 0;
    margin-bottom: 20px;

    @media (max-width: $r_desk_full) {
      font-size: clamp(50px, 4vw + 1rem, 64px);
    }

  }
  &__btn {
    display: block;
    width: 100%;
    font-family: $font;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: $accent;
    color: $light;
    border: 1px solid $accent;
    border-radius: 20px;
    padding: 53px;
    transition: $tr;
    // добавляем медиа, так как для планшетов и смартфонов эти стили не актуальны (и могут даже скорее криво работать)
    // тут мы записываем условие, что это будет работать только на тех устройствах, которые могут считывать курсор)
    
    @media (hover: hover) {
      &:hover {
        background-color: transparent;
      }
      @media (max-width: $r_desk_full) {
        margin-top: 50px;
      }

    }
  }
}

.banner-box {
  border: 1.5px solid $light;
  border-radius: 20px;
  position: relative;
  padding: 30px 332px 30px 30px;

 @media (max-width: $r_desk_full_over) {
  padding-right: clamp(200px, 20vw, 332px);
 }
 @media (max-width: $r_desk_full) {
  padding-right: 332px;
 }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
  }
  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 0;

    // чтобы гитара максимально долго не начинала заходить на текст
    @media (max-width: $r_desk_full) {
      max-width: 572px;
    }

  }
  &__img {
    position: absolute;
    // модификатор для изображения
    &._electroguitar {
      top: -68px;
      right: -20px;

      @media (max-width: $r_desk_full_over) {
        // 22px, так как выше этого значения нет изменений
        width: clamp(200px, 22vw, 332px);;
        top: inherit;
        bottom: -3px;
      }
      @media (max-width: $r_desk_full) {
        width: auto;
        top: -68px;
        bottom: inherit;
      }

    }
  }
}
.tag {
  display: flex;
  gap: 64px;
  // alternate - чтобы анимация двигалась туда-обратно
  animation: move-left 20s infinite linear alternate;
  margin-top: 150px;
  margin-bottom: 150px;
  &__text {
    font-weight: 200;
    font-size: 24px;
    border: 1px solid $grey;
    border-radius: 50px;
    padding: 10px 20px;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: $accent;
      width: 16px;
      height: 16px;
      left: -42px;
      top: calc(50% - 8px);
      border-radius: 100%;
    }
  }
  
  // чтобы при наведении анимация останавливалась, но не сбрасывалась в ноль
  @media (hover: hover) {
    &:hover {
      animation-play-state: paused;
    }
  }

}

@keyframes move-left {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.course {
  display: flex;
  gap: 70px;
  &__title {
    flex-basis: 395px;
    padding-top: 7px;
  }
  &__control {
    margin-top: 46px;
  }
  &__content {
    flex-basis: calc(100% - 395px - 70px);
    width: calc(100% - 395px - 70px);
  }
}

.course-control {
  display: flex;
  align-items: center;
  gap: 20px;
  &__prev,
  &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 1px solid $light;
    border-radius: 100%;
    background-color: transparent;
    transition: $tr;
    // сбрасываем стили, указанные в swiper
    right: inherit;
    left: inherit;
    position: inherit;
    &::after {
      content: "";
      width: 49px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    @media (hover: hover) {
      &:hover {
        background-color: $accent;
        border-color: $accent;
      }
    }
  }
  &__prev {
    &::after {
      background-image: url(../images/ui/arrow-prev.svg);
    }
  }
  &__next {
    &::after {
      background-image: url(../images/ui/arrow-next.svg);
    }
  }
}

.slider-teacher {
  &__item {
    height: 695px;
    background-color: $dark;
    border: 1px solid $dark;
    border-radius: 50px;
    position: relative;
    transition: $tr;
    // чтобы углы изображения тоже закруглились
    overflow: hidden;
    
    @media (hover: hover) {
      &:hover {
        border-color: $accent;
        .slider-teacher__name,
        .slider-teacher__grid {
          opacity: 1;
        }
      }
    }

  }
  &__grid {
    position: absolute;
    // чтобы найти центральную точку изображения и поставить его по центру
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: $tr;
    opacity: 0;
  }
  &__img {
    width: 100%;
    height: 637px;
    position: absolute;
    bottom: 0;
    // чтобы изображение не растягивалось и не искажалось
    object-fit: cover;
  }
  &__name {
    font-weight: 400;
    font-size: 24px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    margin-top: 0;
    margin-bottom: 0;
    transition: $tr;
    opacity: 0;
    width: 100%;
    // чтобы текст был поверх градиента
    z-index: 1;
    // добавляем градиент на фоне
    &::before {
      content: "";
      display: block;
      width: 100%;
      // высоту задаем как у изображения
      height: 637px;
      background: linear-gradient(
        42.13deg,
        rgba(0, 0, 0, 0.75) 0%,
        rgba(0, 0, 0, 0) 59.08%
      );
      background-repeat: no-repeat;
      position: absolute;
      left: -30px;
      bottom: -30px;
      // чтобы текст был поверх градиента
      z-index: -1;
    }
  }
}

.course__schedule {
  margin-top: 50px;
  margin-bottom: 150px;
}

.accordion {
  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $light;
    color: $accent;
    border: none;
    border-radius: 20px;
    font-family: $font;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    padding: 20px 25px 20px 30px;
    margin-bottom: 24px;
    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      background-image: url(../images/ui/minus.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &.active {
      &::after {
        background-image: url(../images/ui/plus.svg);
      }
    }
  }
  &__panel {
    width: 100%;
    background-color: $light;
    border-radius: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  &__list {
    padding: 14px 46px;
    // убираем базовую стилизацию списка
    list-style-type: none;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 300;
    font-size: 24px;
    line-height: 110%;
    color: $dark;
    max-width: 1265px;
    // если рядом с item стоит еще один item, то срабатывает это условие
    // для первого элемента это свойство не будет срабатывать
    & + & {
      margin-top: 29px;
    }
    &:not(:last-child) {
      padding-bottom: 13px;
      border-bottom: 0.5px solid $grey;
    }
    &::before {
      content: "—";
    }
  }
}

.steps {
  border: 1px solid $light;
  border-radius: 50px;
  background: linear-gradient(180deg, #1f2023 0%, #7027e2 50%, #1f2023 100%);
  padding-top: 150px;
  padding-bottom: 150px;
  // ограничиваем в ширину и выравниваем по центру блок
  max-width: 1920px;
  margin: 0 auto;
  &__list {
    // можно и с помощью flex, но grid будет удобнее при адаптиве
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
  }
  &__item {
    background-color: $light;
    border: none;
    border-radius: 50px;
    padding: 30px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.005em;
    color: $dark;
    margin: 0;
    margin-top: 20px;
  }
}

.result {
  margin-top: 150px;
  margin-bottom: 150px;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
  }
  &__item {
    background-color: $light;
    border: none;
    border-radius: 20px;
    padding: 30px;
    &._subgrid {
      grid-column: 2 / 5;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: 130px;
      align-items: center;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $dark;
    margin: 0;
    span {
      width: fit-content;
      font-weight: 600;
      font-size: 24px;
      line-height: 110%;
      color: $light;
      background-color: $accent;
      border: none;
      border-radius: 10px;
      padding: 10px;
    }
  }
  &__btn {
    grid-column: 2 / 4;
    align-self: stretch;
    font-family: $font;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: $accent;
    color: $light;
    border: 1px solid $accent;
    border-radius: 20px;
    padding: 30px;
    transition: $tr;
    
    @media (hover: hover) {
      &:hover {
        background-color: transparent;
        color: $accent;
      }
    }

  }
}

.areas {
  margin-bottom: 150px;
  &__header {
    margin-bottom: 50px;
  }
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: $light;
    border-radius: 0;
    position: relative;
    padding: 30px;
    transition: $tr;
    &:not(:last-child) {
      border-bottom: 1px solid $accent;
      margin-bottom: 30px;
    }
    &::after {
      content: "";
      display: block;
      width: 48px;
      height: 48px;
      background-image: url(../images/ui/arrow-rotate.svg);
      background-repeat: no-repeat;
      background-size: contain;
      transition: $tr;
    }
    
    @media (hover: hover) {
      &:hover {
        background-color: $accent;
        border-radius: 10px;
        &::after {
          transform: rotate(45deg);
        }
        &::before {
          opacity: 1;
          // добавим анимацию из центра для фигуры, чтобы выглядело плавнее
          transform: scale(1);
        }
      }
    }

    // сделаем общий before, т.к. инструментов с почти одинаковым before несколько
    &::before {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 770px;
      opacity: 0;
      transform: scale(0);
      transition: $tr;
    }
    // добавим появляющиеся изображения инструментов
    &._acoustic {
      &::before {
        width: 568px;
        height: 314px;
        background-image: url(../images/areas/acoustic.png);
        // 150px - это половина от общей высоты (314px)
        top: calc(50% - 157px);
      }
    }
    &._drums {
      &::before {
        width: 474px;
        height: 474px;
        background-image: url(../images/areas/drums.png);
        top: calc(50% - 237px);
      }
    }
    &._violin {
      &::before {
        width: 568px;
        height: 491px;
        background-image: url(../images/areas/violin.png);
        top: calc(50% - 245px);
      }
    }
    &._bas-guitar {
      &::before {
        width: 568px;
        height: 404px;
        background-image: url(../images/areas/bas-guitar.png);
        top: calc(50% - 202px);
      }
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 450px;
  gap: 10px 20px;
  background-color: $dark;
  padding: 30px 50px;
  margin-bottom: 30px;
  border-radius: 20px;
  &__text {
    margin: 0;
    & + & {
      margin-top: 6px;
    }
  }
  &__link {
    color: $accent;
    box-shadow: 0 4px 0 -3px $accent;
    transition: $tr;
    
    @media (hover: hover) {
      &:hover {
        box-shadow: 0 4px 0 -3px transparent;
      }
    }

  }
  &__copy {
    text-align: right;
    align-self: end;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 11px;
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: $light;
    border-radius: 10px;
    transition: $tr;
    
    @media (hover: hover) {
      &:hover {
        background-color: $accent;
        &::after {
          background-color: $light;
        }
      }
    }

    // добавляем иконки через маску для смены цвета при наведении
    &::after {
      content: "";
      display: block;
      mask: center center / 100% no-repeat;
      -webkit-mask: center center / 100% no-repeat;
      background-color: $accent;
    }
    &._wa {
      &::after {
        width: 28.125px;
        height: 28.125px;
        mask-image: url(..//images/social/wa.svg);
        -webkit-mask-image: url(..//images/social/wa.svg);
      }
    }
    &._vk {
      &::after {
        width: 31.25px;
        height: 18.75px;
        mask-image: url(../images/social/vk.svg);
        -webkit-mask-image: url(../images/social/vk.svg);
      }
    }
    &._tg {
      &::after {
        width: 25px;
        height: 21.875px;
        mask-image: url(../images/social/tg.svg);
        -webkit-mask-image: url(../images/social/tg.svg);
      }
    }
  }
}
